.bt {

    background-color: white;
    width: 150px;
    padding: 10px;
    border: 1px solid black ;
    transition: transform 0.3s ease;
}
.bt:hover{

    background-color:  rgb(33, 214, 72);
    color: white;
    transform: scale(1,2);
}